[Unit]
Description=MIPI Camera MQTT Snapshot Service
After=capture-mipi-mpp.service mosquitto.service
Requires=capture-mipi-mpp.service
ConditionPathExists=/dev/video11

[Service]
Type=simple
User=lava
ExecStart=/opt/venv/bin/python /usr/local/bin/stream-snap-mqtt.py --jpeg-sock /tmp/capture-mipi-jpeg.sock
Restart=always
RestartSec=5
StartLimitBurst=3
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
