# AFC (Automated Filament Changer) Configuration and Macros

[AFC]
enabled: True

[AFC_unit U1]
enabled: True

[AFC_lane E0]
unit: U1
channel: 0
extruder: extruder
toolhead_sensor: filament_motion_sensor e0_filament

[AFC_lane E1]
unit: U1
channel: 1
extruder: extruder1
toolhead_sensor: filament_motion_sensor e1_filament

[AFC_lane E2]
unit: U1
channel: 2
extruder: extruder2
toolhead_sensor: filament_motion_sensor e2_filament

[AFC_lane E3]
unit: U1
channel: 3
extruder: extruder3
toolhead_sensor: filament_motion_sensor e3_filament

[gcode_macro SET_COLOR]
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set color = params.COLOR|default('FFFFFFFF') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    SET_PRINT_FILAMENT_CONFIG CONFIG_EXTRUDER='{channel}' FILAMENT_COLOR_RGBA='{color}' SAVE='1'

[gcode_macro SET_MATERIAL]
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set material = params.MATERIAL|default('PLA') %}
    {% set subtype = params.SUBTYPE|default('') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    {% set vendor = printer.print_task_config.filament_vendor[channel|int]|default('NONE') %}
    {% if vendor == 'NONE' %}{% set vendor = 'Generic' %}{% endif %}
    SET_PRINT_FILAMENT_CONFIG CONFIG_EXTRUDER='{channel}' FILAMENT_TYPE='{material}' FILAMENT_SUBTYPE='{subtype}' VENDOR='{vendor}' SAVE='1'

[gcode_macro SET_WEIGHT]
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set weight = params.WEIGHT|default('1000') %}
    RESPOND MSG="Weight {weight}g set for {lane}"

[gcode_macro SET_VENDOR]
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set vendor = params.VENDOR|default('NONE') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    SET_PRINT_FILAMENT_CONFIG CONFIG_EXTRUDER='{channel}' VENDOR='{vendor}' SAVE='1'

[gcode_macro SET_MAP]
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set new_map = params.MAP|default('T0') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    {% set current_map = printer['AFC_lane ' + lane].map %}
    {% set new_logical = new_map[1:] if new_map.startswith('T') else '0' %}
    {% set current_logical = current_map[1:] if current_map.startswith('T') else '0' %}
    
    # Get the extruder_map_table to find what's currently mapped to new_logical
    {% set map_table = printer.print_task_config.extruder_map_table %}
    {% set old_channel = map_table[new_logical|int] if new_logical|int < map_table|length else channel %}
    
    # Swap: set new_logical -> channel and current_logical -> old_channel
    SET_PRINT_EXTRUDER_MAP CONFIG_EXTRUDER='{new_logical}' MAP_EXTRUDER='{channel}'
    SET_PRINT_EXTRUDER_MAP CONFIG_EXTRUDER='{current_logical}' MAP_EXTRUDER='{old_channel}'

[gcode_macro CHANGE_TOOL]
description: Change tool/lane with automatic load/unload
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    M118 Changing to {lane} (channel {channel})...
    AUTO_FEEDING EXTRUDER={channel} LOAD=1
    M118 Tool change to {lane} complete

[gcode_macro LANE_UNLOAD]
description: Unload filament for specified lane
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    M118 Unloading {lane} (channel {channel})...
    AUTO_FEEDING EXTRUDER={channel} UNLOAD=1
    M118 Unload {lane} complete

[gcode_macro TOOL_UNLOAD]
description: Unload filament for specified tool
gcode:
    {% set lane = params.LANE|default('E0') %}
    {% set channel = printer['AFC_lane ' + lane].channel %}
    M118 Unloading {lane} (channel {channel})...
    AUTO_FEEDING EXTRUDER={channel} UNLOAD=1
    M118 Unload {lane} complete
