settings:
  remote_access:
    label: Remote Access
    items:
      cloud:
        label: Cloud Access (Experimental)
        get_cmd:
          - /usr/local/bin/extended-config.py
          - get
          - /home/lava/printer_data/config/extended/extended2.cfg
          - remote_access
          - cloud
          - none
        options:
          none:
            label: None
            cmd:
              - bash
              - -xc
              - |
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg remote_access cloud none &&
                /etc/init.d/S99cloud stop
                /usr/local/bin/octoeverywhere-pkg clean
          octoeverywhere:
            label: OctoEverywhere
            cmd:
              - bash
              - -xec
              - |
                echo "WARNING: OctoEverywhere support is experimental. Higher resource usage may affect print quality."
                sleep 5

                /usr/local/bin/octoeverywhere-pkg download
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg remote_access cloud octoeverywhere
                /etc/init.d/S99cloud restart

                echo
                echo "OctoEverywhere enabled. Please wait a moment or check the logs for the account linking URL."
                echo "If you need help, follow this guide:"
                echo "https://octoeverywhere.com/s/snapmaker-u1"
                echo "Contact Support: https://octoeverywhere.com/support"
                echo

                sleep 5

                grep -C 20 "This Plugin Isn't Connected To OctoEverywhere!" /home/lava/printer_data/logs/octoeverywhere.log | grep WARNING
        default: none
