settings:
  remote_access:
    label: Remote Access
    items:
      cloud:
        label: Cloud Services - Remote Access, AI Print Failure Detection, Notifications, Phone Apps, etc.
        get_cmd:
          - /usr/local/bin/extended-config.py
          - get
          - /home/lava/printer_data/config/extended/extended2.cfg
          - remote_access
          - cloud
          - none
        options:
          none:
            label: None
            cmd:
              - bash
              - -xc
              - |
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg remote_access cloud none &&
                /etc/init.d/S99cloud stop
          octoeverywhere:
            label: OctoEverywhere
            cmd:
              - bash
              - -xc
              - |
                /usr/local/bin/octoeverywhere-pkg download &&
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg remote_access cloud octoeverywhere &&
                /etc/init.d/S99cloud restart &&
                /usr/local/bin/octoeverywhere up --timeout=60s # to pull the access tokens
        default: none