settings:
  filament_detection:
    label: Filament Detection
    items:
      system:
        label: Filament Tag Detection System
        get_cmd:
          - /usr/local/bin/extended-config.py
          - get
          - /home/lava/printer_data/config/extended/extended2.cfg
          - filament_detection
          - system
          - official
        options:
          official:
            label: Official
            cmd:
              - bash
              - -xc
              - |
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg filament_detection system official
                /etc/init.d/S59filament-detect stop
          extended:
            label: Extended
            cmd:
              - bash
              - -xc
              - |
                /usr/local/bin/extended-config.py add /home/lava/printer_data/config/extended/extended2.cfg filament_detection system extended
                /etc/init.d/S59filament-detect restart
        default: official
