settings:
  tweaks:
    label: Tweaks
    items:
      afc:
        label: 'AFC Lite via Fluidd/Mainsail (<a href="http://snapmakeru1-extended-firmware.pages.dev/afc-lite" target="_blank">link</a>)'
        get_cmd:
          - bash
          - -c
          - test -f /oem/printer_data/config/extended/klipper/afc.cfg && echo "enabled" || echo "disabled"
        options:
          enabled:
            label: Enabled
            confirm: 'Enable AFC Lite component? This adds support for multi-lane filament management with CHANGE_TOOL and LANE_UNLOAD macros. See <a href="http://snapmakeru1-extended-firmware.pages.dev/afc-lite" target="_blank">documentation</a> for details.'
            cmd:
              - bash
              - -xc
              - |
                ln -sf /usr/local/share/firmware-config/tweaks/klipper/afc.cfg /oem/printer_data/config/extended/klipper/afc.cfg &&
                echo "AFC enabled. Restarting Klipper..." &&
                /etc/init.d/S60klipper restart
          disabled:
            label: Disabled
            cmd:
              - bash
              - -xc
              - |
                rm -vf /oem/printer_data/config/extended/klipper/afc.cfg &&
                echo "AFC disabled. Restarting Klipper..." &&
                /etc/init.d/S60klipper restart
        default: disabled
