on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - .github/workflows/*.yaml
  pull_request:
  workflow_dispatch:

jobs:
  custom-firmware-build:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Load values vars.mk
      run: cat vars.mk >> "$GITHUB_ENV"

    - name: Cache Firmwares
      uses: actions/cache@v4
      with:
        path: firmware/
        key: firmwares-${{ runner.os }}-${{ runner.arch }}-${{ env.FIRMWARE_VERSION }}

    - name: Cache Kernel
      uses: actions/cache@v4
      with:
        path: tmp/kernel/
        key: kernels-${{ runner.os }}-${{ runner.arch }}-${{ env.KERNEL_SHA }}

    - name: Install build dependencies
      run: |
        sudo apt-get update -y &&
        sudo apt-get install -y build-essential cmake \
          gcc-aarch64-linux-gnu pkg-config squashfs-tools git-core \
          bc libssl-dev

    - name: Download firmware
      run: make firmware

    - name: Build with Basic firmware
      run: make basic_firmware BASIC_FIRMWARE_FILE=firmware_basic.bin

    - name: Build with Extended firmware
      run: make extended_firmware EXTENDED_FIRMWARE_FILE=firmware_extended.bin

    - name: Clear Kernel Git Repo
      run: git -C tmp/kernel/ clean -fdx

    - uses: actions/upload-artifact@v4
      with:
        name: basic-build
        path: firmware_basic.bin

    - uses: actions/upload-artifact@v4
      with:
        name: extended-build
        path: firmware_extended.bin
